# This is a .env file template for development!
# See docs/deployment.md for production deployment information
ENVIRONMENT="development"
PORT=3000
SLACK_BOT_TOKEN="xoxb-..."
SLACK_USER_TOKEN="xoxp-..."
SLACK_SIGNING_SECRET="..."
SLACK_HEARTBEAT_CHANNEL="C..."
SLACK_TICKET_CHANNEL="C..."
SLACK_BTS_CHANNEL="C..."
SLACK_HELP_CHANNEL="C..."
SLACK_MAINTAINER_ID="U..."
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nephthys"
PROGRAM="flavortown"
BASE_URL="https://..."
APP_TITLE="helper heidi"
HACK_CLUB_AI_API_KEY="sk-hc-v1-..."
HACK_CLUB_AI_BASE_URL="https://ai.hackclub.com/proxy/v1"
AI_TITLE_MODEL="openai/gpt-oss-120b"
AI_TAG_MODEL="google/gemini-3-flash-preview"
