<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>API Keys - {{ app_title }}</title>
  <style>
    html {
      font-family: sans-serif;
      color-scheme: light dark;
    }

    input#api-key-label {
      width: 15em;
    }

    input,
    button {
      font-size: 1rem;
      margin-block: 0.5em;
    }
  </style>
</head>

<body>
  <h1>Manage API keys ({{ app_title }})</h1>
  <p><em>welcome :) you can create and manage your Nephthys API keys from here.</em></p>

  <h2>create a new API key?</h2>

  <form method="POST" action="/lobby/api_keys/create">
    <div>
      <label for="api-key-label">give your API key a name:</label>
      <input type="text" id="api-key-label" name="label" required />
    </div>
    <button type="submit">make it.</button>
  </form>

  <h2>your API keys</h2>

  <p>table coming soon</p>
</body>

</html>
