<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>API Keys - {{ app_title }}</title>
  <style>
    html {
      font-family: sans-serif;
      color-scheme: light dark;
    }
  </style>
</head>

<body>
  <h1>Manage API keys ({{ app_title }})</h1>
  <p><em>welcome :) you can create and manage your Nephthys API keys from here.</em></p>

  <h2>create a new API key?</h2>

  <p>form coming soon</p>

  <h2>your API keys</h2>

  <p>table coming soon</p>
</body>

</html>
