<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>unauthorised</title>
  <style>
    html {
      font-family: sans-serif;
      color-scheme: light dark;
    }
  </style>
</head>

<body>
  <p>sorry! you must be <a href="/lobby/login" title="click me to log in!">logged in</a> to access this page.</p>
</body>

</html>
